ProgettoCirrosi/__pycache__
ProgettoCirrosi/Immagini
ProgettoCirrosi/Nuove immagini
ProgettoCirrosi/Nuove nuove immagini
ProgettoCirrosi/Roba giusta
ProgettoCirrosi/modello di prova
ProgettoCirrosi/NN_model
ProgettoCirrosi/Osservazioni.docx
ProgettoCirrosi/RF_model
ProgettoCirrosi/SVM_model

ProgettoCovid/__pycache__
ProgettoCovid/Immagini
ProgettoCovid/modello di prova